.hero {
  height: 40em;
  position: relative;
  .hero-img {
    height: 100%;
  }
  margin-bottom: $margin-bottom;
}

.hero-header {
  position: absolute;
  top: 50%;
  width: 100%;
  left: 50%;
  font-size: calc(100% + 1vw);
  transform: translate(-50%, -50%);
  text-align: center;
  .h1 {
    position: relative;
    font-size: 1.6em;
    text-transform: uppercase;
    margin: 0 0 0.15em 0;
    &::before {
      content: "";
      position: absolute;
      top: -0.563em;
      left: 50%;
      width: 1em;
      transform: translate(-50%);
      height: 0.0567em;
      border-top: 0.0567em solid $gold;
      /* background-color: #873ab7; */
      z-index: 1;
    }
  }
  .h2 {
    font-size: 1em;
    margin-top: 0;
  }
  .p {
    font-size: 1rem;
    padding: 0 $padding-side;
  }
}

.about-me {
  padding: 0 $padding-side;
}
