.hero {
  height: 20em;
  position: relative;
  .hero-img {
    height: 100%;
  }
}

.hero-header {
  top: 1em;
  padding: 1em;
  position: absolute;
  width: 100%;
  text-align: center;
  h1 {
    position: relative;
    text-transform: uppercase;
    &::before {
      content: "";
      position: absolute;
      top: -0.563em;
      left: 50%;
      width: 1em;
      transform: translate(-50%);
      height: 0.0567em;
      border-top: 0.0567em solid $colorGold;
      /* background-color: #873ab7; */
      z-index: 1;
    }
  }
}
