.hero {
  height: 40em;
  position: relative;
  .hero-img {
    height: 100%;
  }
}

.hero-header {
  position: absolute;
  padding: 1em;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  text-align: center;
  h1 {
    position: relative;
    text-transform: uppercase;
    margin: 0 0 0.15em 0;
    &::before {
      content: "";
      position: absolute;
      top: -0.563em;
      left: 50%;
      width: 1em;
      transform: translate(-50%);
      height: 0.0567em;
      border-top: 0.0567em solid $gold;
      /* background-color: #873ab7; */
      z-index: 1;
    }
  }
  h2 {
    margin-top: 0;
  }
}
