//colors
///Colors
$gold-900: hsl(42, 60%, 26%);
$gold-800: hsl(41, 51%, 33%);
$gold-700: hsl(42, 49%, 40%);
$gold-600: hsl(42, 45%, 56%);
$gold-500: hsl(42, 62%, 62%);
$gold-400: hsl(46, 57%, 72%);
$gold-300: hsl(50, 78%, 76%);
$gold-200: hsl(50, 86%, 86%);
$gold-100: hsl(50, 100%, 94%);
$violet-900: hsl(278, 80%, 28%);
$violet-800: hsl(277, 75%, 33%);
$violet-700: hsl(277, 68%, 42%);
$violet-600: hsl(277, 60%, 49%);
$violet-500: hsl(277, 54%, 56%);
$violet-400: hsl(282, 51%, 60%);
$violet-300: hsl(287, 45%, 64%);
$violet-200: hsl(290, 35%, 70%);
$violet-100: hsl(289, 31%, 83%);
$gray-900: hsl(215, 23%, 16%);
$gray-800: hsl(215, 17%, 30%);
$gray-700: hsl(214, 11%, 49%);
$gray-600: hsl(215, 17%, 63%);
$gray-500: hsl(209, 24%, 74%);
$gray-400: hsl(208, 17%, 83%);
$gray-300: hsl(210, 24%, 87%);
$gray-200: hsl(207, 22%, 90%);
$gray-100: hsl(210, 17%, 98%);

$success-green: hsl(162, 91%, 45%);
$error-red: hsl(0, 91%, 63%);

$gold: #dab662;
$violet: rgb(124, 34, 179);
$gray: #6e7783;
$white: #d8d8d8;
$black: #333333;
// $colorViolet: #873ab7;
$anchor-bg: linear-gradient(180deg, transparent 70%, rgba(124, 34, 179, 0.7) 0);

//spacing
$padding-side: 2em;
$margin-bottom: 1.5em;

:export {
  gold: $gold;
}
