$colorGold: #dab662;
$colorRed: #d20040;
$colorViolet: #6a2475;
$colorViolet2: #872e94;
$colorViolet3: #e366f9;
$colorGrey: #6e7783;
$colorBlack: #252526;
$colorWhite: #d4d4d4;
$blackText: #555;
$whiteText: hsla(0, 0%, 80%, 0.8);
$blackGradient: linear-gradient(to right bottom, #151515 0%, #555 200%);
$black-bg: #333333;

:export {
  colorGold: $colorGold;
}
